.header a {
  text-decoration: none;
  font-weight: 700;
}

.about {
  color: var(--purple-secondary); 
  background-image: -webkit-linear-gradient(45deg, var(--purple-secondary) 25%, var(--purple) 85%); 
  background-clip: text; 
  -webkit-background-clip: text; 
  text-fill-color: transparent; 
  -webkit-text-fill-color: transparent;

}

.header {
  display: flex;
  padding: 5px 8px;
  justify-content: space-between;
  align-items: center;
}

.right {
  display: flex;
  gap: 1rem;
}

@media (orientation: portrait) {
  .right {
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
  }
}
