.header a {
  text-decoration: none;
  font-size: 1rem;
}

.about {
  color: var(--purple-secondary); 
  background-image: -webkit-linear-gradient(45deg, var(--purple-secondary) 25%, var(--purple) 85%); 
  background-clip: text; 
  -webkit-background-clip: text; 
  text-fill-color: transparent; 
  -webkit-text-fill-color: transparent;
}

.aboutText{
  max-width: 100px;
}

.header {
  display: flex;
  padding: 5px 12px;
  justify-content: space-between;
  align-items: baseline;
}

.right {
  text-align: end;
  gap: 8px;
}
