:root {
  /* --yellow: #f8de7e; */
  --purple: #6A3CC1;
  --purple-secondary:   #A17EF8;
  /* Dark Mode Colors */
  --bg:  #000005;
  /* --bg-alpha: hsla(0, 0%, 7%, 0.9); */
  --fg: #efefef;
  --currentboxbg: rgba(255, 255, 255, 0.1);
  --currentboxshadow: 0 0 0 10px #55309a, 0 0 0 20px #3f2473, 0 0 0 30px #2a184c, 0 0 0 40px #150c25, 0 0 0 60px #000;
  --gray: silver;
  /* --gray: #999;
  --light-gray: #444;
  --lighter-gray: #222;
  --lightest-gray: #1a1a1a;
  --article-color: #eaeaea;
  --gray-alpha: rgba(255, 255, 255, 0.5); */
  --selection: rgba(255, 255, 255, 0.88);
  --link: #9ca0fa;
  /* --link: #9499FF; */
  --nav-link: #fff; 
  /* --bg-image: linear-gradient(315deg, #12100e 0%, #2b4162 74%); */
  /* --bg-image: linear-gradient(315deg, #7a7adb 0%, #170e13 74%); */
  /* --bg-image: linear-gradient(315deg, #000000 0%, #1c1032 74%); */
  /* --bg-image: linear-gradient(315deg, #000000  0%, #1a1a1a 74%); */
  --bg-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  --bg-image: linear-gradient(109.6deg, rgba(2,0,4,1) 11.2%, #000000 91.1%);

}

[data-theme='light'] {
  /* --bg: #f3f7fe; */
  --bg: #fefdff;
  --bg-alpha: hsla(0, 0%, 100%, 0.9);
  --fg: #06040b;
  --currentboxbg: rgba(0, 0, 0, 0.05);
  --currentboxshadow: 0 0 0 10px #8762ce, 0 0 0 20px #a589da, 0 0 0 30px #c3b0e6, 0 0 0 40px #e0d7f2, 0 0 0 60px #fefdff;
  --gray: gray;
  /* --gray: rgb(2, 2, 2);
  --light-gray: rgb(222, 222, 222);
  --lighter-gray: rgb(240, 240, 240);
  --lightest-gray: rgb(245, 245, 245);
  --article-color: #212121;
  --header-bg: rgba(255, 255, 255, 0.8);
  --gray-alpha: rgba(19, 20, 21, 0.5); */
  --selection: rgba(0, 0, 0, 0.99);
  /* --link: #9688F0; */
  --link:  #947AFF;
  /* --link:    #8A72FD; */
  --token: #666;
  --comment: #999;
  --keyword: #000;
  --name: #333;
  --highlight: #eaeaea;
  --nav-link: black;
  /* --bg-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
  /* --bg-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  /* --bg-image: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%); */
  /* --bg-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
  --bg-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  /* --bg-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%); */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: var(--bg); */
  background-image: var(--bg-image);
  color: var(--fg);
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  filter: drop-shadow(0 0 0.25rem gray);

}

@media screen and (max-width: 320px) {
  #__next {
    display: flex;
  }
}

