:root {
  --purple: #6A3CC1;
  --purple-secondary: #A17EF8;
  --link: #f8de7e;
  /* Dark Mode Colors */
  --bg:  #000005;
  --fg: #efefef;
  --currentboxbg: rgba(255, 255, 255, 0.1);
  --currentboxshadow: 0 0 0 10px #55309a, 0 0 0 20px #3f2473, 0 0 0 30px #2a184c, 0 0 0 40px #150c25, 0 0 0 60px #000;
  --gray: silver;
  --bg-image: linear-gradient(-20deg, #000000 0%, #150C25 100%);
}


[data-theme='light'] {
  --bg: #fefdff;
  --fg: #06040b;
  --link: var(--purple);
  --currentboxbg: rgba(0, 0, 0, 0.05);
  --currentboxshadow: 0 0 0 10px #8762ce, 0 0 0 20px #a589da, 0 0 0 30px #c3b0e6, 0 0 0 40px #e0d7f2, 0 0 0 60px #fefdff;
  --gray: gray;
  --bg-image: linear-gradient(-20deg, #fcf3cf 0%, #fefdff 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: var(--bg-image);
  color: var(--fg);
  gap: 2px;
  font-size: 1.1rem;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  filter: drop-shadow(0 0 0.25rem gray);
}

a {
  color: var(--purple-secondary);
}

li {
  list-style: none;
  margin: 1rem 0;
}

@media screen and (max-width: 320px) {
  #__next {
    display: flex;
  }
}

@media (orientation: portrait) {
  body {
    font-size: 1rem;
  }
}