.hourlyWrapper {
  width: 100%;
  text-align: center;
}

.hourly {
  text-align: center; 
  padding: 0 450px;
  margin-top: 1rem;
}

.miscItem {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  flex: 1; 
  padding: 18px;
  margin: 18px 0;
}

.hourlyItemBox {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 12px 0;
}

.hourlyItemHour {
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  filter: drop-shadow(0 0 0.25rem var(--gray));
}

.hourlyItemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small {
  font-size: smaller;
}

.hourlyItemRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hourlyTitle {
  font-size: 1.5rem;
  margin: 2rem 0;
}

@media (orientation: portrait) {
  .hourly, .miscItem {
    padding: 0;
  }
}
