.hourlyWrapper {
  width: 100%;
  text-align: center;
}

.hourly {
  text-align: center; 
  margin-top: 1rem;
  padding: 0 4rem;
}

.miscItem {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  flex: 1; 
  padding: 18px;
  margin: 18px 0;
}

.hourlyItemBox {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 12px 0;
}

.hourlyItemHour {
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  filter: drop-shadow(0 0 0.25rem var(--gray));
}

.hourlyItemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small {
  font-size: smaller;
}

.hourlyItemRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hourlyTitle {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.hourlySecondary {
  margin-top: 8px;
  margin-bottom: 1rem;
}

.dropdownDiv {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.jumpBackDiv {
  position: sticky;
  bottom: 2.5rem;
  margin-left: 64rem;
  overflow: hidden;
}

.jumpBackDiv > button {
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background-color: var(--currentboxbg);
  border: 1px solid transparent;
}
.jumpBackDiv > button:hover {
  border: 1px solid var(--purple-secondary);
}


.jumpBackDiv > button > svg {
  width: 24px;
}

@media screen and (min-width: 1000px) {
  .hourly {
    padding: 0 450px;
  }
  .dropdownDiv {
    gap: 2rem;
  }
}

@media (orientation: portrait) {
  .hourly, .miscItem {
    padding: 0;
  }

  .jumpBackDiv {
    margin-left: 0;
    float: right;
    bottom: 0;
  }

  .dropdownDiv {
    gap: 1rem;
  }
}
